<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <form action="/generate" method="POST">
    <div>
      text:
      <input type="text" name="text">
    </div>
    <div>
      location:
      <input type="text" name="location">
    </div>
    <div>
      details:
      <input type="text" name="details">
    </div>
    <div>
      start_date:
      <input type="date" name="start_date">
    </div>
    <div>
      start_time:
      <input type="time" name="start_time">
    </div>
    <div>
      end_date:
      <input type="date" name="end_date">
    </div>
    <div>
      end_time:
      <input type="time" name="end_time">
    </div>
    <div>
      <input type="submit" value="generate">
    </div>
  </form>
</body>
</html>
