<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <form action="/generate" method="POST">
    <div>
      text:
      <input type="text" name="text">
    </div>
    <div>
      location:
      <input type="text" name="location">
    </div>
    <div>
      details:
      <input type="text" name="details">
    </div>
    <div>
      start_date:
      <input type="datetime-local" name="start_date" required>
    </div>
    <div>
      end_date:
      <input type="datetime-local" name="end_date" required>
    </div>
    <div>
      <input type="submit" value="generate">
    </div>
  </form>
</body>
</html>
